{% extends 'uploads/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Add your content here -->
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-2 m-2">
      {% comment %} {% include 'records_app/nav.html' %} {% endcomment %}

    </div>
          
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
     <div class="container mt-4 justify-content-center row">
    
      <div class="col-md-8 upload ">
        <div class="jumbotron">
          <h4>Upload File</h4>
              <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    {% comment %} <label for="{{ form.device_type.id_for_label }}"></label> {% endcomment %}
                    {% comment %} {{ form.name|as_crispy_field }} {% endcomment %}
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    {% comment %} <label for="{{ form.device_type.id_for_label }}"></label> {% endcomment %}
                    {% comment %} {{ form.file|as_crispy_field }} {% endcomment %}
                  </div>
                </div>
                <div class="col-md-2 p-2 mt-3">
                  <button type="submit" class="btn btn-info">Upload</button>

                </div>


              </div>
          
              </form>
       
        </div>
      </div>
      
      

     </div>      

     <h4 class="text-center p-2 m-2">All Files </h4>

                <div class="row contaier">
                

                  {% for document in documents %}

                  <div class="col-md-3 mt-2 ">
                    <div class="card shadow-sm">


                      <div class="card-body">

                        {% comment %} {% if ".doc" in document.file.url %}
                        <img class="img-fluid h-50" src="https://play-lh.googleusercontent.com/gFABK_HVIVlHT1MhKw7q8YlQkdsJrdev7xtyHmbQHLiT9cjLUPSl4bTe0CsqMzI-69Y" alt="">
                        {% elif ".csv" in document.file.url  %}
                        <img class="img-fluid h-50" src="https://static.vecteezy.com/system/resources/previews/000/376/777/original/csv-vector-icon.jpg" alt="">
                        {% elif ".xlsx" in document.file.url  %}
                        <img class="img-fluid h-50" src="https://play-lh.googleusercontent.com/37EzETO6gZyKmCg2kBIFX1e9gkubxZrVa5fHJ6yOaa7VvEShHjKv2RdtwnZt9Sk258s" alt="">
                        {% elif ".jpg" in document.file.url  %}
                        <img class="img-fluid h-50" src="{{document.file.url}}" alt="">
                        <p>{{document.file.url}}</p>
                        {% else %}
                        <img class="img-fluid h-50" src="https://play-lh.googleusercontent.com/9XKD5S7rwQ6FiPXSyp9SzLXfIue88ntf9sJ9K250IuHTL7pmn2-ZB0sngAX4A2Bw4w" alt="">
                        {% endif %} {% endcomment %}
                       <p>{{ document.name}}</p>
                       <li>{{document.file}}</li>
                       <li>{{document.file1}}</li>
                      </div>
                      
                      
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
<!-- Link to open the document -->

<!-- Button to download the document -->
<a class="nav-link btn btn-info justify-content-center mb-2" href="{{ document.file.url }}" download><i class="fa fa-download"></i></a>


                        </div>
                        <div class="col-md-4"></div>

                      </div>

                    </div>
                  </div>
                  {% empty %}
                  <div class="text-center alert alert-danger shadow-lg  rounded p-3 ml-4 m-3 mr-2 container">
                    <p class="text-danger">Sorry. No documents uploaded yet!!! Please try uploading your documents.</p>
                    </div>                  {% endfor %}
                </div>

        </main>
    </div>
    <style>

      
    </style>
  </div>
  
{% endblock %}